The transaction did not qualify for a lower fee because {{ condition }} was {{ current_value }}.
Changing it to {{ optimal_value }} may help move the transaction from "{{ current_category }}" to "{{ optimal_category }}".
Estimated fee-rate improvement: {{ impact }}%.a